[*.cs]

# IDE0055: Fix formatting
dotnet_diagnostic.IDE0055.severity = suggestion

# IDE0065: Misplaced using directive
csharp_using_directive_placement = inside_namespace

# SA1135: Using directives should be qualified
dotnet_diagnostic.SA1135.severity = silent

# SA1000: Keywords should be spaced correctly
dotnet_diagnostic.SA1000.severity = suggestion

# SA1011: Closing square brackets should be spaced correctly
dotnet_diagnostic.SA1011.severity = silent
